.accessControl__link {
    display: flex;
    align-items: center;
    width: 50%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease;
    position: relative;
    overflow: hidden;
    border: 2px solid #000;
    margin: 5px 0;
}

.accessControl__link::before {
    content: "";
    width: 0;
    height: 100%;
    border-top: 2px solid #1976d2;
    position: absolute;
    left: 0%;
    top: 100%;
    transition: width 0.5s;
}

.accessControl__link:hover::before {
    width: 100%;
}

.accessControl__link:hover .underline {
    left: 0;
}