body {
  font-family: 'Jost', 'Open Sans', sans-serif;
}

img {
  width: 100%;
}

.nav__link {
  margin: 0 5px;
  transition: all 0.5s ease;
  border-bottom: 2px solid transparent;
}

.nav__link:hover {
  border-bottom: 2px solid brown;
}

.nav__link_active {
  margin: 0 5px;
  border-bottom: 2px solid brown;
}

.burger-menu {
  display: none;
}

@media screen and (max-width: 1140px) {
  .burger-menu {
    display: block;
  }
}