body {
  font-family: 'Lato', 'Open Sans', sans-serif;
}

.registration__routing-link,
.login__routing-link,
.privacy__routing-link {
  color: black;
  border-bottom: 1px solid #000;
}

.login__routing-link:hover,
.registration__routing-link:hover,
.privacy__routing-link:hover {
  border-bottom: 2px solid #000;
}

.nav__link_active {
  border-bottom: 2px solid brown;
}